.body{
    padding: 0;
    margin: 0;
}
#react-entry-point{
    padding: 0;
}
.dropdown-menu{
    display: flex;
    width: 100%;
}

.drop{
    width: 300px;
}

.drop:hover{
    background-color: blue;
    color: blue;
    border: 1px solid #111111;
}

.mynav{
    height: 50px;
    font-size: 20px;
    padding: 0 20px !important;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.mynav img{
    padding-left: 30px;
}

ul{
    list-style: none;
}


#white-nav{
    background-color: white !important;
    transform: skewX(-5deg);
    float: left;
    width: 200px;
}
#blue-nav{
    text-align: center;
    float: left;
    height: 50px;
    color: white !important;
}

#blue-nav ul{
    height: 50px;
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
    box-shadow: 500px 0 0 #02538a,1000px 0 0 #02538a,1500px 0 0 #02538a,inset -1000000px 0 0 #02538a;
}

#blue-nav li{
    height: 100%;
    float: left;
    min-width: 185px;
    text-align: center;
}

#blue-nav a{
    z-index: 50;
    float: left;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding-top: 15px;
    transform: skewX(-5deg);
}
#blue-nav a:hover{
    background-color: #0366a8 !important;
}

.mynavbar{
    padding-left: 20px;
}

.block{
    background-color: red;
    height: 2000px;
}